.content {
	position: relative;
    top: -100px;
    margin-top: -6px;
    z-index:99;
    margin-bottom: -160px;

	article {
		box-sizing: border-box;
		margin: 20px 20px 0 0;
		padding: 20px;
		height: 300px;
		background-size: cover;
		float: left;
		position: relative;
		transition: all 0.5s ease;
		overflow: hidden;

		&:hover {
			.info {
				transform: translate(0, 0);
			}
		}
	}

	article:nth-child(2n+2) {
		margin-right: 0;
	}

	.over {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, 0.2);
		opacity: 0;
		transition: all 0.2s;
		z-index: 10;
	}

	.info {
		position: absolute;
		width: 100%;
		color: #fff;
		left: 0;
		transform: translate(0, 150px);
		transition: transform 0.3s ease;
		bottom: 0;

		.triangle-black {
			position: relative;
			bottom: -5px;
			right: -2px;
		}

		.heading {
			background: $mainBackground;

			h3 {
				position: relative;
				top: -30px;
				text-shadow: 0 -2px 0 #000;
			}
		}


	}
	
	.credits {
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		padding: 2px 5px;
		background: #4a7196;
		color: #fff;
		z-index: 15;

		a {
			color: #fff;
			text-decoration: none;
			font-size: 0.65rem;
		}

		&.soppo {
			background: #241025;
		}
	}

	.about {
		color: #333;
		padding: 5%;
		font-size: 2em;
		text-align: center;
		background: #ffffff;
		@include clearfix();
		position: relative;
		z-index: 8;

		.me {
			float: left;
		    border-radius: 50%;
		    overflow: hidden;
		    height: 240px;
		    width: 230px;
		    background: rgba($mainBackground, 0.2);

		    @media screen and (max-width: 800px) {
		    	float: none;
		    	margin: 0 auto;
		    }
			svg {
				height: 300px;
			    top: 12px;
			    position: relative;

			    #Eyes {
			    	animation-name: blink;
					animation-duration: 8s;
					animation-iteration-count: infinite;

					transform-origin: 50% 50%;
			    }
			}
		}

		@keyframes blink { 
			0% { transform: scaleX(1) scaleY(1); } 
			2% { transform: scaleX(1) scaleY(0.1); } 
			4% { transform: scaleX(1) scaleY(1); } 
			55% { transform: scaleX(1) scaleY(1); } 
			57% { transform: scaleX(1) scaleY(0.1);} 
			60% { transform: scaleX(1) scaleY(1); } 
			100% { transform: scaleX(1) scaleY(1); }
		}

		.burger, .football {
			height: 50px;
			position: absolute;
			z-index: 99;
		}

		.burger {
			height: 300px;
			top: -30px;
			opacity: 0.2;
			transform: rotate(45deg);
			right: -110px;
			z-index: 21;
		}

		.football {
			height: 170px;
			opacity: 0.2;
			bottom:-120px;
			z-index: 21;
			left: 40%;
		}
	}
}

