.wis {
	background: url('../img/wis.png');
}

.cal {
	background: url('../img/calendar.png');
}

.past {
	background: url('../img/past.png');
}

.shame {
	background: url('../img/shame.png');
}

.diehard {
	background: url('../img/diehard.jpg');
}

.mickey {
	background: url('../img/mick.jpg');
}