body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
	color: #fff;
	font-weight: normal;
	text-align: center;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 3em;
}

h2 {
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 10px;
	opacity: 0.5;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-left: 10px;
}

h3 {
	font-size: 2em;
}

